
body {
    padding: 0;
    margin: 0;
   
    background: linear-gradient(45deg, #BDD9F2, #A7BDD9,#88AABF);
    
}
html {
    scroll-behavior: smooth;
  }
nav{
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.28);
    height: 10%;
    background-color: #F0F2F2;
    position: sticky;
    top: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
ul{
   
    width: 50%;
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

li{
   
    
    width: 20px;
}


#my-div {
   
   
    position: fixed;
    width: 430px;
    height: 85%;
    
   
    transition: 0.1s ease-out;
    object-fit: cover;
    z-index: 3;
}
.img{
   
    width: 100%;
    height: 100%;
   
    object-fit: contain;
}
.verde{
    background-color: #34dc53;
}
.laranja{
    background-color: #da43f1;
}
.azul{
    background-color: #346cdc;
}
.amarelo{
    background-color: #fee78b;
}
.vermelho{
    background-color: #ef7777;
}
.card{
    
    width:  6.3em;
    height: 8.8em;
    -webkit-user-drag:  none;
    transition: 0.16s;
}
.amostra{
    box-shadow: 9px 9px 7px -7px rgba(0,0,0,0.28);
    width:  6.3em;
    height: 8.8em;
    border-radius: 7px;
    transition: 0.16s;
}
.amostra:hover{
    box-shadow: 14px 16px 22px -7px rgba(0,0,0,0.28);
    transform: rotate(2deg) translate(3px,-5px);
}
.card:hover{
 
    transform: rotate(-4deg) translate(-6px,-3px);
}
.list{
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1px));
    
    margin: 20px;
    padding-top: 20px;
    gap: 10px;
    
}
.icons{
  
    width: 50px;
    height: 50px;
    -webkit-user-drag:  none;

}
.logo-g{
    padding-top: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    -webkit-user-drag:  none;
}
.logo-g img{
    padding-top: 30px;
    object-fit: contain;
    -webkit-user-drag:  none;
}
.categorias{
    display: flex;
    flex-flow: column;
    padding-left: 5%;
    padding-top: 10px;
    position: fixed;
    z-index: 4;
    height: 85%;
    width: 15%;
    background-color: #F0F2F2;
    padding-bottom: 20px;
    overflow: scroll;
    
   
}
.corpo{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.listas{
    margin-left: 20%;
    width: 90%;
    
}
#label{
  margin: 5%;
}
img {
    pointer-events: stroke;
}

























.b-contain *, .b-contain *::before, .b-contain *::after {
	box-sizing: content-box !important;
}

.b-contain input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.b-contain span {
	line-height: 1.54;
	font-size: 1rem;
	font-family: inherit;
}

.b-contain {
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: 0.11rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background: rgba(241, 245, 248, 1);
	transition: background 250ms;
	border: 1px solid rgba(184, 194, 204, 1);
	border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background: rgba(241, 245, 248, 1);
	transition: background 250ms;
	border: 1px solid rgba(184, 194, 204, 1);
	border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
	content: '';
	position: absolute;
	display: none;
	left: .45rem;
	top: .18rem;
	width: .25rem;
	height: .6rem;
	border: solid rgba(255, 255, 255, 1);
	border-width: 0 2px 2px 0;
	transition: background 250ms;
	transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
	content: '';
	position: absolute;
	display: none;
	left: .25rem;
	top: .25rem;
	width: .75rem;
	height: .75rem;
	border-radius: 2.0rem;
	background: rgba(255, 255, 255, 1);
	transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
	border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
	display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
	background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
	box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
}

.b-contain input:checked ~ .b-input {
	background: rgba(0, 130, 243, 1);
	border-color: rgba(0, 130, 243, 1);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
	background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
	background: rgba(13, 143, 255, 1);
	border-color: rgba(13, 143, 255, 1);
}

.b-contain .b-input::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3rem;
	height: 3rem;
	margin-left: -0.85rem;
	margin-top: -0.85rem;
	background: rgba(0, 130, 243, 1);
	border-radius: 2rem;
	opacity: .6;
	z-index: 99999;
	transform: scale(0);
}

@keyframes b-ripple {
	0% {
		transform: scale(0);
	}

	20% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
  	}
}

@keyframes b-ripple-duplicate {
	0% {
		transform: scale(0);
	}

	30% {
		transform: scale(1);
	}

	60% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
  	}
}

.b-contain input + .b-input::before {
	animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
	animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
	visibility: hidden;
}

.b-contain input:focus + .b-input::before {
	visibility: visible;
}

.b-contain:first-child .b-input::before {
	visibility: hidden;
}